name: Auto Releaser

on:
  # Run manually
  workflow_dispatch:
  # Or on a schedule
  schedule:
    # At 13:37 on day-of-month 7.
    - cron: "37 13 7 * *"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        
      - name: Publish Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          DRAFT_RELEASE=$(gh release list --json "isDraft,tagName" --jq '.[] | select(.isDraft == true).tagName')
          gh release edit "$DRAFT_RELEASE" --draft=false --latest
